* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  font-size: 16px; /* 1rem = 16px */
}

body {
  font-weight: 700;
  color: #fef7ee;
  background-color: #111315;
}

.container {
  width: 1000px; /* Fixed width for the container */
  max-width: 100%;
  margin: 15% auto 50px auto;
  padding: 2%;
  background-color: #1b1d1f;
  border-radius: 8px;
}

.list_heading {
  text-align: center;
  margin-bottom: 0.25rem;
  font-size: 2rem;
  font-family: "DM Sans", serif;
}

.list_description {
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  color: #6f757c;
  margin-bottom: 0.25rem;
}

.heading_container {
  background-image: url("./assets/vector.svg");
  background-repeat: no-repeat;
  background-position: 70% 50%;
  padding: 2rem 0;
  background-size: 20%;
}

.list_filters {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.filter {
  cursor: pointer;
  border-radius: 8px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  padding: 8px 12px;
  color: white;
}

.filter.selected {
  background-color: #4d5562;
}

.coffee-listing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 32px;
  margin: 10px 72px 72px 72px;
}

.coffee_item {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.list_picture {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.coffee_name {
  font-size: 0.875rem;
  margin: 0.25rem 0;
}

.coffee_details {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
}

.coffee_price {
  font-size: 0.75rem;
  background-color: #bee3cc;
  color: #111315;
  padding: 3px 5px;
  border-radius: 3px;
  height: 15px;
}

.coffee_rating {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  width: 100%;
}

.rating {
  font-size: 0.65rem;
}

.votes {
  font-size: 0.75rem;
  color: #a7abb0;
  font-size: 0.75rem;
  color: #a7abb0;
}

.list_popular {
  font-size: 0.65rem;
  color: #1b1d1f;
  background-color: #f6c768;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 3px 5px;
  border-radius: 15px;
}

.list_available {
  font-size: 0.65rem;
  color: #ed735d;
  position: absolute;
  bottom: 0;
  right: 0;
}

.bg-cafe_image {
  position: absolute; /* Places the image behind text */
  top: 0;
  left: 0;
  width: 100%;
  /* height: auto; */
  /* object-fit: cover; Ensures the image covers the container */
  z-index: -1; /* Pushes the image behind the text */
  opacity: 0.5;
}

/*CoffeeCard.css */

.blurred {
  filter: blur(5px);
}

.card_view {
  width: 30%;
  background: #1b1d1f;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.card_button {
  padding: 5px 20px;
  border: none;
  background-color: #fef7ee;
  color: #1b1d1f;
  border-radius: 8px;
}
